<!DOCTYPE html>
<html lang="en">
	{{> head_tag title="Predictions Game"}}
	<body class="min-h-full flex flex-col">
        {{> header page_name="Home"}}
		<div class="px-4 py-2 flex flex-col flex-grow">
            <div class="w-full flex flex-col items-center justify-center">
                <div class="w-full xl:w-3/4 flex flex-col-reverse md:flex-row justify-center pt-2">
                    <div class="w-full md:w-2/3 flex flex-col items-center md:mr-6">
                        <div class="w-full flex flex-col items-center justify-center">
                            <div class="font-bold text-xl">
                                Who's better at predicting pro matches: you or your friends? Come play and find out.
                            </div>
                            <div class="pb-4">
                                Compete against your friends and the community in this predictor game, inspired by <a target="_blank" rel="noopener noreferrer" href="https://projects.fivethirtyeight.com/2021-nfl-forecasting-game/" class="text-blue-700">FiveThirtyEight’s NFL Forecasting Game</a>.
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center">
                            <div class="font-bold text-2xl w-full text-center">
                                Predicting Matches
                            </div>
                            <div>
                                Head over to the <a href="/upcoming_matches" class="text-blue-700">upcoming matches</a> page (after making sure you have <a href="/auth/steam" class="text-blue-700">logged in with Steam</a>) and predict the outcomes of professional DPC matches! However, instead of simply
                                choosing whether or not a team would win, you need to also choose the probability that a team will win using the slider. But beware—the scoring system punishes overconfidence.
                            </div>
                            <div>
                                The scoring system uses a quadratic formula to determine the points lost or gained.
                                Possible points from each game range from a gain of 25 points to a loss of 30 points, and is calculated using the formula (rounded to the nearest tenth)
                            </div>
                            <div class="py-2 w-full text-center">
                                <code>points = -30 + .65p - 0.001p^2</code>
                            </div>
                            <div>where <code>p</code> is the estimated probability of winning you gave the winning team.</div>
                            <div>
                                For example, let's say for the PSG.LGD vs Royal Never Give Up match, you predict that PSG.LGD has a 73% chance of winning.
                                Then, if PSG.LGD does indeed win, you will gain 12.1 points! However, if Royal Never Give Up wins, you will lose 13.2 points. <br>
                                In the actual match, XinQ and PSG.LGD ended up <a target="_blank" rel="noopener noreferrer" href="https://clips.twitch.tv/LittleSucculentBoarPipeHype-i9sA0osMm40k70Eh" class="text-blue-700">punching their way to a 2-0 victory</a>, so you would've have gained 12.1 points.
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center">
                            <div class="font-bold text-2xl w-full text-center">
                                Completed Matches
                            </div>
                            <div>
                                View completed DPC matches at the <a href="/complete_matches" class="text-blue-700">complete matches</a> page. There, you will find each completed and ongoing match, along with the score.
                                Additionally, you will see the average guess for each match, and if you are logged into steam and have added a guess for the match, you will see that too. Finally, if the match is completed (not live), the average points and your points from that match will be shown.
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center">
                            <div class="font-bold text-2xl w-full text-center">
                                Leaderboard
                            </div>
                            <div>
                                Finally, look at the <a href="/leaderboard" class="text-blue-700">leaderboard</a> to view the top scores and see how you and your friends are doing.
                                The number of picks with the correct chosen winner is shown in the Correct column and is used as a tiebreak if there is a tie in scores.
                                Additionally, you may now choose a leaderboard for a specific league.
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 items-center flex flex-col">
                        <div class="w-full flex flex-row md:flex-col items-center overflow-x-auto snap-x snap-mandatory scroll-smooth" id="sidebar_info" onscroll="scrolling_sidebar()">
                            <div class="w-full pb-2 flex flex-col min-w-full md:min-w-0 snap-start relative justify-start h-full px-2" id="panel_0">
                                <div class="font-bold text-2xl text-center">
                                    Upcoming Matches
                                </div>
                                {{#if (check_empty upcoming_matches)}}
                                <div class="text-center text-xl h-full flex justify-center items-center">
                                    There are no upcoming matches at this time.
                                </div>
                                {{else}}
                                {{#each upcoming_matches}}
                                <div class="w-full flex flex-row py-2 h-full justify-center items-center">
                                    <div class="flex flex-col w-3/5">
                                        <div class="flex flex-row items-center">
                                            <div style="width: 40px;" class="flex items-center justify-center pr-1"><img src={{team1image}} alt="{{team1}}" style="height: 20px;"></div>{{team1}}
                                        </div>
                                        <div class="flex flex-row items-center">
                                            <div style="width: 40px;" class="flex items-center justify-center pr-1"><img src={{team2image}} alt="{{team2}}" style="height: 20px;"></div>{{team2}}
                                        </div>
                                    </div>
                                    <div class="flex flex-col w-2/5 justify-center">
                                        <div class="flex flex-row items-center justify-end" id="match:{{team1id}}:{{team2id}}:{{index}}_timer">
                                            {{set_timer start_time}}
                                        </div>
                                        {{#if ../user}}
                                        <div class="flex flex-row items-center justify-end" title="Your Guess">
                                            {{#if (check_exists your_guess)}}
                                                {{#if (check_not50 your_guess)}}
                                                <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                    <img src={{#if (check_team1 your_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                </div>
                                                {{/if}}
                                                {{display_average your_guess}}%
                                            {{/if}}
                                        </div>
                                        {{else}}
                                        <div class="flex flex-row items-center justify-end" title="Average Guess">
                                            {{#if (check_exists average_guess)}}
                                                {{#if (check_not50 average_guess)}}
                                                <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                    <img src={{#if (check_team1 average_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                </div>
                                                {{/if}}
                                                {{display_average average_guess}}%
                                            {{/if}}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                            <div class="w-full md:mx-0 pb-2 flex flex-col min-w-full md:min-w-0 snap-start relative justify-start h-full px-2" id="panel_1">
                                <div class="font-bold text-2xl text-center">
                                    Recently Completed
                                </div>
                                {{#if (check_empty recent_completed)}}
                                <div class="text-center text-xl flex justify-center h-full items-center">
                                    No recent matches.
                                </div>
                                {{else}}
                                {{#each recent_completed}}
                                <div class="flex flex-row py-2 w-full items-center justify-center h-full">
                                    <div class="flex flex-col w-1/2 lg:w-3/4">
                                        <div class="flex flex-row items-center {{#if (check_win team1score is_bo3 team2score)}}font-bold{{/if}}" id="match_{{this.index_num}}_team1">
                                            <div style="width: 40px;" class="flex items-center justify-center pr-1"><img src={{team1image}} alt="{{team1}}" style="height: 20px;"></div>{{team1}}
                                        </div>
                                        <div class="flex flex-row items-center {{#if (check_win team2score is_bo3 team1score)}}font-bold{{/if}}" id="match_{{this.index_num}}_team2">
                                            <div style="width: 40px;" class="flex items-center justify-center pr-1"><img src={{team2image}} alt="{{team2}}" style="height: 20px;"></div>{{team2}}
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-1/2 lg:w-1/4 items-center justify-end h-full">
                                        <div class="flex items-center justify-center h-full">
                                            {{#if is_live}}
                                            <div class="flex flex-col">
                                                <div class="font-bold text-center">
                                                    LIVE
                                                </div>
                                                {{#if ../user}}
                                                <div class="flex flex-row items-center justify-center" title="Your Guess">
                                                    {{#if (check_exists your_guess)}}
                                                        {{#if (check_not50 your_guess)}}
                                                        <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                            <img src={{#if (check_team1 your_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                        </div>
                                                        {{/if}}
                                                        {{display_average your_guess}}%
                                                    {{/if}}
                                                </div>
                                                {{else}}
                                                <div class="flex flex-row items-center justify-center" title="Average Guess">
                                                    {{#if (check_exists average_guess)}}
                                                        {{#if (check_not50 average_guess)}}
                                                        <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                            <img src={{#if (check_team1 average_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                        </div>
                                                        {{/if}}
                                                        {{display_average average_guess}}%
                                                    {{/if}}
                                                </div>
                                                {{/if}}
                                            </div>
                                            {{else}}
                                            <div class="flex flex-col items-center justify-center h-full">
                                                <div class="{{#if (check_win team1score is_bo3 team2score)}}font-bold{{/if}} h-1/2 flex items-center" id="match_{{this.index_num}}_team1score">
                                                    {{team1score}}
                                                </div>
                                                <div class="{{#if (check_win team2score is_bo3 team1score)}}font-bold{{/if}} h-1/2 flex items-center" id="match_{{this.index_num}}_team2score">
                                                    {{team2score}}
                                                </div>
                                            </div>
                                            {{/if}}
                                        </div>
                                        <div>
                                            {{#if is_live}}
                                            {{else}}
                                                {{#if ../user}}
                                                 <div class="flex flex-col items-center justify-center pl-px" style="width: 83px;">
                                                    {{#if (check_exists your_guess)}}
                                                        <div class="flex flex-row {{#if (determine_win your_guess team1score team2score is_bo3)}}font-bold{{/if}}" title="Your Guess">
                                                            {{#if (check_not50 your_guess)}}
                                                            <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                                <img src={{#if (check_team1 your_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 your_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                            </div>
                                                            {{/if}}
                                                            {{display_average your_guess}}%
                                                        </div>
                                                        <div title="Your Score">
                                                            {{{display_score your_guess team1score team2score is_bo3}}}
                                                        </div>
                                                    {{/if}}
                                                </div>
                                                {{else}}
                                                <div class="flex flex-col items-center justify-center pl-px" style="width: 83px;">
                                                    {{#if (check_exists average_guess)}}
                                                        <div class="flex flex-row {{#if (determine_win average_guess team1score team2score is_bo3)}}font-bold{{/if}}" title="Average Guess">
                                                            {{#if (check_not50 average_guess)}}
                                                            <div style="width: 40px;" class="flex items-center justify-center mr-px">
                                                                <img src={{#if (check_team1 average_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 average_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                                            </div>
                                                            {{/if}}
                                                            {{display_average average_guess}}%
                                                        </div>
                                                        <div title="Average Score">
                                                            {{{display_score average_guess team1score team2score is_bo3}}}
                                                        </div>
                                                    {{/if}}
                                                </div>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                            <div class="w-full pb-2 flex flex-col min-w-full md:min-w-0 snap-start relative justify-start h-full px-2" id="panel_2">
                                <div class="font-bold text-2xl text-center">
                                    Top Scoring Players
                                </div>
                                <table class="w-full" id="top_players_table">
                                    <tr>
                                        <td class="text-center pr-4 font-bold pb-1" style="width: 1px;">#</td>
                                        <td class="px-1 text-left font-bold pb-1">Name</td>
                                        <td class="px-1 text-center font-bold pb-1" id="player_score_width">Score</td>
                                    </tr>
                                    {{#each top_players}}
                                    <tr>
                                        <td class="text-center pr-4 py-1 {{#if (if_equals ../user.id this.user_id)}}font-bold{{/if}}">{{this.rank}}</td>
                                        <td class="px-1 py-1 w-full truncate {{#if (if_equals ../user.id this.user_id)}}font-bold{{/if}} hover:underline"><a href="/user/{{this.user_id}}">{{this.display_name}}</a></td>
                                        <td class="text-center px-1 py-1 whitespace-nowrap {{#if (if_equals ../user.id this.user_id)}}font-bold{{/if}}">{{round_tenth this.score}} <span class="{{find_color this.day_points}} text-xs" title="Difference in the last 24 hours">({{positive_plus this.day_points}}{{round_tenth this.day_points}})</span></td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                        <div class="md:hidden">
                            <span class="dot active_dot px-2" onclick="current_panel(0)" id="panel_dot_0"></span>
                            <span class="dot px-2" onclick="current_panel(1)" id="panel_dot_1"></span>
                            <span class="dot px-2" onclick="current_panel(2)" id="panel_dot_2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{{> footer}}
    </body>
    <script>
        document.getElementById("player_score_width").style.width = `${document.getElementById("player_score_width").offsetWidth}px`
        document.getElementById("top_players_table").classList.add("table-fixed")

        let curr_panel = 0
        let panel_timeout = setInterval(change_panel, 3000)
        function change_panel() {
            if (screen.width < 768) {
                curr_panel += 1
                current_panel(curr_panel % 3)
            }
        }

        function current_panel(n) {
            curr_panel = n

            const curr_scroll = document.documentElement.scrollTop

            for (let i = 0; i < 3; i++) {
                if (n === i) {
                    document.getElementById(`panel_dot_${n}`).classList.add("active_dot")
                }
                else {
                    document.getElementById(`panel_dot_${i}`).classList.remove("active_dot")
                }
            }

            document.getElementById(`panel_${n}`).scrollIntoView();
            document.documentElement.scrollTop = curr_scroll
        }

        function scrolling_sidebar() {
            clearInterval(panel_timeout)
            panel_timeout = setInterval(change_panel, 5000)
            if (document.getElementById("sidebar_info").scrollLeft > document.getElementById("sidebar_info").offsetWidth*1.5) {
                curr_panel = 2
                document.getElementById("panel_dot_0").classList.remove("active_dot")
                document.getElementById("panel_dot_1").classList.remove("active_dot")

                document.getElementById(`panel_dot_2`).classList.add("active_dot")
            }
            else if (document.getElementById("sidebar_info").scrollLeft > document.getElementById("sidebar_info").offsetWidth*0.5) {
                curr_panel = 1
                document.getElementById("panel_dot_0").classList.remove("active_dot")
                document.getElementById("panel_dot_2").classList.remove("active_dot")

                document.getElementById(`panel_dot_1`).classList.add("active_dot")
            }
            else {
                curr_panel = 0
                document.getElementById("panel_dot_1").classList.remove("active_dot")
                document.getElementById("panel_dot_2").classList.remove("active_dot")

                document.getElementById(`panel_dot_0`).classList.add("active_dot")
            }
        }

        {{#each recent_completed}}
            {{#if this.is_completed}}
            document.getElementById(`match_{{this.index_num}}_team1score`).style.height = document.getElementById(`match_{{this.index_num}}_team1`).offsetHeight
            document.getElementById(`match_{{this.index_num}}_team2score`).style.height = document.getElementById(`match_{{this.index_num}}_team2`).offsetHeight
            {{/if}}
        {{/each}}

        setInterval(function() {
            const now = new Date().getTime()
            {{#each upcoming_matches}}
                {{#if start_time}}
                const match_{{team1id}}_{{team2id}}_{{index}}_diff = ({{start_time}}*1000) - now
                const match_{{team1id}}_{{team2id}}_{{index}}_days = Math.floor(match_{{team1id}}_{{team2id}}_{{index}}_diff / (86400000));
                const match_{{team1id}}_{{team2id}}_{{index}}_hours = Math.floor((match_{{team1id}}_{{team2id}}_{{index}}_diff % (86400000)) / (3600000));
                const match_{{team1id}}_{{team2id}}_{{index}}_minutes = Math.floor((match_{{team1id}}_{{team2id}}_{{index}}_diff % (3600000)) / (60000));
                const match_{{team1id}}_{{team2id}}_{{index}}_seconds = Math.floor((match_{{team1id}}_{{team2id}}_{{index}}_diff % (60000)) / 1000);

                if (match_{{team1id}}_{{team2id}}_{{index}}_days > 0) {
                    document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").innerHTML = `${match_{{team1id}}_{{team2id}}_{{index}}_days}d ${match_{{team1id}}_{{team2id}}_{{index}}_hours}h ${match_{{team1id}}_{{team2id}}_{{index}}_minutes}m`
                }
                else {
                    if (match_{{team1id}}_{{team2id}}_{{index}}_hours > 0) {
                        document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").innerHTML = `${match_{{team1id}}_{{team2id}}_{{index}}_hours}h ${match_{{team1id}}_{{team2id}}_{{index}}_minutes}m ${match_{{team1id}}_{{team2id}}_{{index}}_seconds}s`
                    }
                    else if (match_{{team1id}}_{{team2id}}_{{index}}_minutes > 0) {
                        document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").innerHTML = `${match_{{team1id}}_{{team2id}}_{{index}}_minutes}m ${match_{{team1id}}_{{team2id}}_{{index}}_seconds}s`
                    }
                    else {
                        document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").innerHTML = `${match_{{team1id}}_{{team2id}}_{{index}}_seconds}s`
                    }
                }

                if (match_{{team1id}}_{{team2id}}_{{index}}_diff < 0) {
                    document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").innerHTML = "SOON"
                    document.getElementById("match:{{team1id}}:{{team2id}}:{{index}}_timer").classList.add("font-bold")
                }
                {{/if}}
            {{/each}}
        }, 1000)
    </script>
</html>
