<!DOCTYPE >
<html>
	{{> head_tag title="Upcoming Matches"}}
	<body class="min-h-full flex flex-col">
		{{> header page_name="Upcoming Matches"}}
		<div class="px-4 py-2 flex flex-col flex-grow">
			{{#if user}}
			<div class="w-full flex items-center justify-center">
				<div class="w-full lg:w-4/5 flex flex-col">
					{{#each upcoming_matches}}
					<div class="w-full flex flex-col py-2">
						<div class="flex flex-col text-xl md:text-4xl font-bold">
							<div class="pb-2 flex flex-row">
                                <span class="flex-grow cursor-pointer" id="{{@key}}_text" onclick="toggle_division_list(this.id)">{{@key}}</span>
                                <button class="plusminus z-10 toggle_button_animation" id="{{@key}}_toggle_button" onclick="toggle_division_list(this.id)">
                                    <span class="plusminusspan plusminusspanfirst"></span>
                                    <span class="plusminusspan plusminusspansecond"></span>
                                </button>
                            </div>
                            <hr class="bg-black h-px border-0">
						</div>
						<div class="w-full pt-2" id="{{@key}}_match_list">
							{{#each this}}
							<div class="w-full items-center justify-center flex flex-col" id="match:{{team1id}}:{{team2id}}:{{index}}_match">
								<div class="flex flex-row text-center font-bold text-2xl md:text-4xl justify-center items-center">
									<img src={{team1image}} class="pr-2 lg:pr-6 logo_image_height">{{team1}} vs {{team2}}<img src={{team2image}} class="pl-2 lg:pl-6 logo_image_height">
								</div>
								<div class="flex flex-col lg:flex-row mt-8 py-8 items-center justify-center w-full">
                                    <div class="hidden lg:flex flex-col items-center justify-center w-full lg:w-1/6">
                                        <div>
                                            {{convert_date start_time}}
                                        </div>
                                        <div>
                                            {{convert_time start_time}} Eastern
                                        </div>
                                    </div>
									<div class="flex flex-row items-center justify-center lg:justify-end w-full lg:w-3/5">
										<div class="hidden md:px-2 w-1/6 md:w-1/5 text-right items-center justify-end relative" id="match:{{team1id}}:{{team2id}}:{{index}}_team1" style="top: -10px">
											{{team1}}
										</div>
										<div class="flex pr-1 md:px-2 w-1/6 md:w-1/5 text-right items-center justify-end relative" style="top: -10px;">
											<img src={{team1image}} style="width: 40px;" id="match:{{team1id}}:{{team2id}}:{{index}}_team1image">
										</div>
										<div class="px-2 w-2/3 md:w-3/5">
											<div id="match:{{team1id}}:{{team2id}}:{{index}}_slider" style="height: 1px; top:38px;" class="flex items-center justify-center w-full"></div>
											<div class="relative px-px text-center text-xs text-gray-300 select-none" style="top:27.5px">|</div>
											<div class="relative w-full px-px text-center flex flex-col items-center justify-center select-none">
												<div class="relative text-2xl w-1/2 items-center justify-center" style="top:2.5px; left:{{find_left average_guess}}%">
													<div>|</div>
												</div>
											</div>
											<div class="relative w-full px-px text-center flex flex-col items-center justify-center select-none">
												<div class="relative flex flex-col w-1/2 items-center justify-center" style="left:{{find_left average_guess}}%">
													<div>{{display_average average_guess}}%</div>
													<div>Average Guess</div>
												</div>
											</div>
										</div>
										<div class="flex pl-1 md:px-2 w-1/6 md:w-1/5 text-right items-center relative" style="top: -10px;">
											<img src={{team2image}} style="width: 40px;" id="match:{{team1id}}:{{team2id}}:{{index}}_team2image">
										</div>
										<div class="hidden md:px-2 w-1/6 md:w-1/5 text-left items-center relative" id="match:{{team1id}}:{{team2id}}:{{index}}_team2" style="top: -10px">
											{{team2}}
										</div>
									</div>
									<div class="lg:pl-6 md:flex flex-col items-center justify-center text-center md:text-left pt-2 lg:pt-0 w-full lg:w-2/5">
										<div class="lg:w-full">
											You'll <span id="match:{{team1id}}:{{team2id}}:{{index}}_team1_text">gain</span> <span id="match:{{team1id}}:{{team2id}}:{{index}}_team1_points" class="text-lg font-bold">0.0</span> points if <span id="match:{{team1id}}:{{team2id}}:{{index}}_team1_name">{{team1}}</span> wins.
										</div>
										<div class="lg:w-full">
											You'll <span id="match:{{team1id}}:{{team2id}}:{{index}}_team2_text">gain</span> <span id="match:{{team1id}}:{{team2id}}:{{index}}_team2_points" class="text-lg font-bold">0.0</span> points if <span id="match:{{team1id}}:{{team2id}}:{{index}}_team2_name">{{team2}}</span> wins.
										</div>
									</div>
                                    <div class="flex lg:hidden flex-col items-center justify-center w-full lg:w-1/6 pt-2">
                                        <div>
                                            {{convert_date start_time}}
                                        </div>
                                        <div>
                                            {{convert_time start_time}}
                                        </div>
                                    </div>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			{{else}}
			<div class="w-full flex justify-center items-center text-3xl font-bold">
				Please&nbsp;<a href="/auth/steam" class="text-blue-700">login with Steam</a>&nbsp;to predict matches.
			</div>
			{{/if}}
		</div>
		{{> user_footer}}
		{{> footer}}
    </body>
	<script>
        function toggle_division_list(id) {
            const key_id = id.substring(0, id.indexOf('_'))
            document.getElementById(`${key_id}_toggle_button`).classList.toggle("toggle_button_animation")
            document.getElementById(`${key_id}_match_list`).classList.toggle("hidden")
        }

		{{#each upcoming_matches}}
			{{#each this}}
				let match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider = document.getElementById('match:{{team1id}}:{{team2id}}:{{index}}_slider');
				noUiSlider.create(match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider, {
					start: {{your_guess}},
					step: 1,
					range: {
						'min': 0,
						'max': 100
					},
					tooltips: {
						to: function(val) {
							let display_val = val
							if (val < 50) {
								display_val = 100 - val
							}
							return `<div class="flex flex-col bg-transparent items-center justify-center text-center"><div class="font-semibold text-center">Your guess:<div class="flex flex-col items-center justify-center text-center"><div class="flex flex-row"><div style="width:13.45px"></div><div class="font-bold text-4xl">${Math.round(display_val)}</div><div>%</div></div></div>`
						}
					},
				});
				match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider.noUiSlider.on('update', function (values, handle) {
					change_score(match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider.id)
				})
				match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider.noUiSlider.on('end', function (values, handle) {
					post_score(match_{{turn_id_to_text team1id}}_{{turn_id_to_text team2id}}_{{turn_id_to_text index}}_slider.id)
				})
			{{/each}}
		{{/each}}

		function post_score(id) {
			const prob = parseInt(document.getElementById(id).noUiSlider.get())

			let request = new XMLHttpRequest();
			request.open('POST', '/insert_guess');
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

			const team1id = id.substring(6, id.indexOf(":", 6))
            const team2id = id.substring(id.indexOf(":", 6)+1, id.indexOf(":", id.indexOf(":", 6)+1))
            const index = id.substring(id.indexOf(":", id.indexOf(":", 6)+1)+1, id.indexOf("_"))

			request.responseType = 'json';
			request.send(`team1id=${team1id}&team2id=${team2id}&index=${index}&guess=${prob}`);
		}

		function change_score(id) {
			const match_num = id.substring(0, id.indexOf("_"))
			const prob = parseInt(document.getElementById(id).noUiSlider.get())
			let team1_probs = (100-prob).toFixed(1)
			let team2_probs = prob.toFixed(1)

			if (prob < 50) {
				team1_probs = (100-prob).toFixed(1)
				team2_probs = prob.toFixed(1)
			}

			const team1_score = calc_score(team1_probs)
			const team2_score = calc_score(team2_probs)

			if (team1_score < 0) {
				document.getElementById(`${match_num}_team1_text`).innerHTML = "lose"
				document.getElementById(`${match_num}_team1_points`).classList.remove("text-green-700")
				document.getElementById(`${match_num}_team1_points`).classList.add("text-red-700")
				document.getElementById(`${match_num}_team1_points`).innerHTML = Math.abs(team1_score).toFixed(1)
				document.getElementById(`${match_num}_team1_name`).classList.remove("font-bold")
				document.getElementById(`${match_num}_team1`).classList.remove("font-bold")
                // document.getElementById(`${match_num}_team1image`).style.width = '40px'
                document.getElementById(`${match_num}_team1image`).style.filter = ''

				document.getElementById(`${match_num}_team2_text`).innerHTML = "gain"
				document.getElementById(`${match_num}_team2_points`).classList.remove("text-red-700")
				document.getElementById(`${match_num}_team2_points`).classList.add("text-green-700")
				document.getElementById(`${match_num}_team2_points`).innerHTML = Math.abs(team2_score).toFixed(1)
				document.getElementById(`${match_num}_team2_name`).classList.add("font-bold")
				document.getElementById(`${match_num}_team2`).classList.add("font-bold")
                // document.getElementById(`${match_num}_team2image`).style.width = '60px'
                document.getElementById(`${match_num}_team2image`).style.filter = 'drop-shadow(0px 0px 8px #facc15)'
			}
			else if (team1_score > 0) {
				document.getElementById(`${match_num}_team1_text`).innerHTML = "gain"
				document.getElementById(`${match_num}_team1_points`).classList.add("text-green-700")
				document.getElementById(`${match_num}_team1_points`).classList.remove("text-red-700")
				document.getElementById(`${match_num}_team1_points`).innerHTML = Math.abs(team1_score).toFixed(1)
				document.getElementById(`${match_num}_team1_name`).classList.add("font-bold")
				document.getElementById(`${match_num}_team1`).classList.add("font-bold")
                // document.getElementById(`${match_num}_team1image`).style.width = '60px'
                document.getElementById(`${match_num}_team1image`).style.filter = 'drop-shadow(0px 0px 8px #facc15)'

				document.getElementById(`${match_num}_team2_text`).innerHTML = "lose"
				document.getElementById(`${match_num}_team2_points`).classList.add("text-red-700")
				document.getElementById(`${match_num}_team2_points`).classList.remove("text-green-700")
				document.getElementById(`${match_num}_team2_points`).innerHTML = Math.abs(team2_score).toFixed(1)
				document.getElementById(`${match_num}_team2_name`).classList.remove("font-bold")
				document.getElementById(`${match_num}_team2`).classList.remove("font-bold")
                // document.getElementById(`${match_num}_team2image`).style.width = '40px'
                document.getElementById(`${match_num}_team2image`).style.filter = ''
			}
			else {
				document.getElementById(`${match_num}_team1_text`).innerHTML = "gain"
				document.getElementById(`${match_num}_team1_points`).classList.remove("text-green-700", "text-red-700")
				document.getElementById(`${match_num}_team1_points`).innerHTML = "0.0"
				document.getElementById(`${match_num}_team1_name`).classList.remove("font-bold")
				document.getElementById(`${match_num}_team1`).classList.remove("font-bold")
                // document.getElementById(`${match_num}_team1image`).style.width = '40px'
                document.getElementById(`${match_num}_team1image`).style.filter = ''

				document.getElementById(`${match_num}_team2_text`).innerHTML = "gain"
				document.getElementById(`${match_num}_team2_points`).classList.remove("text-green-700", "text-red-700")
				document.getElementById(`${match_num}_team2_points`).innerHTML = "0.0"
				document.getElementById(`${match_num}_team2_name`).classList.remove("font-bold")
				document.getElementById(`${match_num}_team2`).classList.remove("font-bold")
                // document.getElementById(`${match_num}_team2image`).style.width = '40px'
                document.getElementById(`${match_num}_team2image`).style.filter = ''
			}
		}
		function calc_score(prob) {
			return 25 - (Math.pow(prob - 100, 2) / 100)
		}
	</script>
</html>
