<!DOCTYPE >
<html>
	{{> head_tag title="User Information"}}
	<body class="min-h-full flex flex-col">
        {{> header page_name=""}}
		<div class="px-4 py-2 flex flex-col flex-grow">
            {{#if user_info}}
            <div class="w-full flex flex-col items-center justify-center">
                <div class="w-full xl:w-2/3 flex flex-col items-center justify-center pt-2">
                    <div class="w-full flex flex-row items-center justify-center">
                        <div class="px-2 ">
                            <img src={{user_info.profile_picture}} class="pt-1">
                        </div>
                        <div class="px-2 flex flex-col h-full">
                            <div class="font-bold text-2xl md:text-5xl pb-2">
                                <a target="_blank" rel="noopener noreferrer" href={{user_info.steam_url}} class="hover:underline">{{user_info.display_name}}</a>
                            </div>
                            <div class="text-xl md:text-3xl">
                                <span class="font-bold">Rank: </span> {{user_info.rank}} / {{user_info.total_players}}
                            </div>
                            <div class="text-xl md:text-3xl">
                                <span class="font-bold">Score: </span> {{round_tenth user_info.score}} <span class="{{find_color user_info.day_score}} text-base md:text-3xl" title="Difference in the last 24 hours">({{positive_plus user_info.day_score}}{{round_tenth user_info.day_score}})</span>
                            </div>
                            <div class="text-lg md:text-2xl">
                                <span class="font-bold">Correct Picks: </span> {{user_info.correct}} <span class="{{find_color user_info.day_picks}} text-base md:text-2xl" title="Difference in the last 24 hours">({{positive_plus user_info.day_picks}}{{user_info.day_picks}})</span>
                            </div>
                            <div class="text-lg md:text-2xl">
                                <span class="font-bold">Incorrect Picks: </span> {{user_info.incorrect}} <span class="{{if_incorrect user_info.day_incorrect}} text-base md:text-2xl" title="Difference in the last 24 hours">(+{{user_info.day_incorrect}})</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:flex md:flex-row md:items-center md:justify-center overflow-x-auto">
                        <table class="w-full">
                            <tr class="border-b-2 border-zinc-600">
                                <td colspan=3 class="text-left px-1 font-bold pb-1" style="width: 450px">Match</td>
                                <td class="px-1 text-center font-bold pb-1">Guess</td>
                                <td class="px-1 text-center font-bold pb-1">Final Score</td>
                                <td class="px-1 text-center font-bold pb-1">Points</td>
                            </tr>
                            {{#each user_info.matches}}
                            <tr>
                                <td style="width:230px" class="flex items-center px-1 py-1 {{#if (check_win team1score is_bo3 team2score)}}font-bold{{/if}}"><div style="width: 40px;" class="flex items-center justify-center"><img src={{team1image}} style="height: 20px;"></div>{{team1}}</td>
                                <td class="px-4 py-1">vs</td>
                                <td style="width:230px" class="flex items-center px-1 py-1 {{#if (check_win team2score is_bo3 team1score)}}font-bold{{/if}}"><div style="width: 40px;" class="flex items-center justify-center"><img src={{team2image}} style="height: 20px;"></div>{{team2}}</td>
                                <td class="text-center py-1 px-1">
                                    <div class="flex flex-row items-center justify-center {{#if (determine_win user_guess team1score team2score is_bo3)}}font-bold{{/if}}">
                                        {{#if (check_not50 user_guess)}}
                                        <div style="width: 40px;" class="flex items-center justify-center">
                                            <img src={{#if (check_team1 user_guess)}}{{team1image}}{{else}}{{team2image}}{{/if}} style="height: 20px;" alt="{{#if (check_team1 user_guess)}}{{team1}}{{else}}{{team2}}{{/if}}" title="{{#if (check_team1 user_guess)}}{{team1}}{{else}}{{team2}}{{/if}}">
                                        </div>
                                        {{/if}}
                                        {{display_average user_guess}}%
                                    </div>
                                </td>
                                <td class="text-center py-1 px-1">{{#if is_live}}<span class="font-bold">LIVE</span>{{/if}}{{#if is_completed}}<span class="{{#if (check_win team1score is_bo3 team2score)}}font-bold{{/if}}">{{team1score}}</span>&nbsp;-&nbsp;<span class="{{#if (check_win team2score is_bo3 team1score)}}font-bold{{/if}}">{{team2score}}</span>{{/if}}</td>
                                <td class="text-center py-1 px-1">{{#if (check_exists user_guess)}}{{{display_score user_guess team1score team2score is_bo3}}}{{/if}}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="w-full flex flex-col items-center justify-center text-3xl">
                Sorry! This profile does not exist.
            </div>
            {{/if}}
        </div>
		{{> footer}}
    </body>
</html>
